<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div align="center">
<h1 style="text-align: center">Customer Home</h1>
<a href="/create">Go to Create Page</a>
<table>
    <th colspan="4">Customer</th>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Age</td>
        <td>Province</td>
        <td>Country</td>
    </tr>
        <th:block th:each="customer : ${customers}">
            <tr>
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.age}"></td>
                <td th:text="${customer.country}"></td>
                <td th:text="${country.name}"></td>
            </tr>
        </th:block>
</table>
</div>
</body>
</html>