<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Customer</title>
</head>
<body>
<a href="/customer">Back to customer List</a>
<form th:action="@{/create}" th:object="${customer}" method="post">
        <table>
            <tr>
                <td>First Name:</td>
                <td><input th:type="text" th:field="*{firstName}"></td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td><input th:type="text" th:field="*{lastName}"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Create customer"></td>
            </tr>
        </table>
</form>
</body>

</html>