<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <fieldset>
        <legend>Edit</legend>
        <form th:action="@{/edit}" th:object="${blog}" method="post">
            <input th:type="hidden" name="id" th:field="*{id}">
            <table>
                <tr>
                    <td>Id:</td>
                    <td ><input th:value="${blog.id}"></td>
                </tr>
                <tr>
                    <td>Tên Blog : </td>
                    <td ><input th:value="${blog.blogName}"></td>
                </tr>
                <tr>
                    <td>Ngày Tạo :</td>
                    <td><input th:value="${blog.dateCreate}"></td>
                </tr>
                <tr>
                    <td>Nội Dung</td>
                    <td ><input th:value="${blog.content}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Sửa"></td>
                </tr>
            </table>
        </form>
    </fieldset>
</body>
</html>