<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h1 align="center">Create</h1>
<fieldset>
  <legend align="center">Create Customer</legend>
  <form th:ction="@{/create}" th:object="${customer}" method="post">
    <table>
      <tr>
        <td>Name</td>
        <td><input th:type="text" th:field="*{name}"></td>
      </tr>
      <tr>
        <td>Age</td>
        <td><input th:type="text" th:field="*{age}"></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Tạo"></td>
      </tr>
    </table>
  </form>
</fieldset>

</body>
</html>